@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  --font-arabic: var(--font-noto-arabic);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
